.business {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin-bottom: rem(116px);

    @include phones {
        min-width: rem(450px);
    }
}

.business__content {
    margin-bottom: rem(38px);
}

.business__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.business__text {
    display: flex;
    font-size: rem(64px);
    line-height: rem(74px);
    font-weight: 700;
    text-transform: uppercase;
    color: $gradient;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: rem(90px) rem(30px);
    max-width: (650px);
    margin-top: (-60px);

    @include phones {
        font-size: rem(44px);
        max-width: (450px);
        padding: rem(10px) rem(30px);
        line-height: 1.42;
        margin-top: 0;
    }
}

.business__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.business__description {
    margin-left: rem(20px);
}

.business__photo {
    margin-top: rem(6px);
}

