.company {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: rem(71px);
}

.company__column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.company__title {
    color: $gradient;
    margin-bottom: rem(47px);
    font-weight: 700;
}

.company__description-first {
    display: flex;

    margin-bottom: rem(52px);

}

.company__description-big {
    display: flex;
    margin-bottom: rem(70px);

    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: #EBEBEB;
    padding: rem(10px) rem(50px) rem(10px) rem(20px);
}

.company__description {
    display: flex;
    margin-bottom: rem(20px);
}

.company__desc-num {
    font-size: rem(36px);
    line-height: rem(41px);
    font-weight: 700;
    margin-bottom: rem(12px);
    margin-right: rem(82px);
}
.company__desc-num-second {
    font-size: rem(36px);
    line-height: rem(41px);
    font-weight: 700;
    margin-bottom: rem(12px);
    margin-right: rem(100px);
}

.company__desc-text {
    font-size: rem(14px);
    line-height: rem(16px);
    width: 70%;
}

.company__desc-horisont {
    display: flex;
    margin-right: rem(77px);
    align-items: center;
}

.company__desc-number {
    font-size: rem(36px);
    line-height: rem(41px);
    font-weight: 700;
    margin-bottom: rem(12px);
    margin-right: rem(9px);
}

.company__numbers {
    font-size: rem(144px);
    font-weight: 700;
    font-weight: rem(165px);
    color: $gradient;
    margin-right: rem(84px);
}

.company__number {
    width: 100%;
}

.company__numb-mlrd {
    font-size: rem(48px);
    line-height: rem(55px);
    margin-bottom: rem(14px);
}

.company__numb-text {
    font-size: rem(18px);
    line-height: rem(21px);
}

